@import url(./vars.css);

body {
    display: flex;
    height: 100vh;
}
body main {
    flex: 1;
    overflow: auto;
}

body .sidebar-left {
    width: 300px;
    background-color: var(--bkg-color-1);
    border-right: 1px solid var(--table-border-color);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

body .sidebar-left .page-section>#inner {
    max-width: none;
}

body .sidebar-left .nav {
    padding: 0 20px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
body .sidebar-left .nav .item {
    width: 100%;
    cursor: pointer;
    border-radius: 0 24px 24px 0;
    text-align: left;
    background-color: var(--bkg-color-1);
    padding: 12px;
    border: none;
    display: flex;
    align-items: center;
}
body .sidebar-left .nav .item:hover {
    background-color: var(--table-border-color);
}
body .sidebar-left .nav .item.active {
    background-color: var(--primary-color);
}
body .sidebar-left .nav .item.active p {
    color: white;
}
body .sidebar-left .nav .item .icon {
    padding: 0 8px;
    margin: 0;
    height: 0px;
    margin-left: -12px;
}
body .sidebar-left .nav .item.active .icon svg {
    fill: white;
}
body.hide-sidebar .sidebar-left {
    display: none;
}
body.hide-sidebar .page-text {
    display: none;
}
.page-text {
    display: none;
}

@media (max-width: 768px) {
    body .sidebar-left {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        height: 100vh;
        transform: translateX(-100%);
        width: 100%;
        border-right: none;
        transition: transform 0.3s;
    }
    body.menu-open .sidebar-left {
        transform: translateX(0);
    }
    body .sidebar-left .nav {
        gap: 0;
        padding: 0 20px;
        padding-top: 0;
    }
    body .sidebar-left .nav .item {
        border-radius: 8px  ;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .page-text {
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 20px;
        border-bottom: 1px solid var(--table-border-color);
    }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

main iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}