/* Light Mode Styles */
body[theme='dark'] {
  --primary-color: #007BFF;
  --primary-hover-color: #0056b3;
  --secondary-color: #333;
  --bkg-color-1: #222;
  --text-color: #ccc;

  --dropdown-bg-color: #333;
  --dropdown-text-color: #ccc;

  --input-bg-color: #333;
  --input-text-color: #ccc;
  --input-border-color: #555;

  --table-border-color: #555;

  --color-red: #ff4d4d;

  background-color: #333;
}

body[theme='light'] {
  --primary-color: #1A73E8;
  --primary-hover-color: #1b66c9;
  --secondary-color: #dddddd;
  --bkg-color-1: #f5f5f5;
  --text-color: #676767;

  --dropdown-bg-color: #fff;
  --dropdown-text-color: #333;

  --input-bg-color: #fff;
  --input-text-color: #333;
  --input-border-color: #ddd;

  --table-border-color: #ddd;

  --color-red: #ff4d4d;

  background-color: #fff;
}

/* scroll bar */

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bkg-color-1);
}

/* General Styles */

body {
  min-width: 570px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

p {
  color: var(--text-color);
}

button.icon {
  background-color: var(--bkg-color-1);
  width: 42px;
  height: 42px;
  margin: auto;
  padding: 8px;
  border-radius: 64px;
  border: 1px solid var(--table-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
button.icon[disabled],
button.icon[disabled]:hover {
  opacity: 0.5;
  cursor: not-allowed;
}
button.icon svg {
  fill: var(--primary-color);
  display: block;
  width: 24px;
  height: 24px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#message {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

.button {
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
}

.button:hover {
  background-color: var(--primary-hover-color);
}

.input {
  padding: 8px 15px;
  margin-right: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--table-border-color);
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--secondary-color);
}

h1 {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  color: var(--text-color);
}

h4 {
  margin: 0;
  padding-top: 10px;
}

h4 a {
  color: var(--text-color);
  text-decoration: none;
}

h4 a:hover {
  color: var(--primary-hover-color);
  text-decoration: none;
}


/* Dark Mode Styles */
.dark-mode {
  background-color: #222;
  color: #fff;
}

body[theme='dark'] #message {
  color: #ccc;
}

/* Targeting the button by ID */
/* #darkModeToggle {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
} */

/* Styling the button on hover */
/* #darkModeToggle:hover {
  background-color: #333;
} */

body[theme='dark'] th {
  background-color: #444;
}

body[theme='dark'] h4 a {
  color: #aaa;
}

body[theme='dark'] h4 a:hover {
  color: #007BFF;
}

body[theme='dark'] th,
body[theme='dark'] td {
  color: #ccc;
}

/* Style for the language dropdown */
.langdropdown {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--dropdown-bg-color);
  color: var(--dropdown-text-color);
}

.langdropdown:hover {
  border-color: #007bff;
}

/* Style for the dropdown arrow */
.langdropdown::after {
  content: '\25BE'; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Style for dropdown options */
.langdropdown option {
  background-color: var(--dropdown-bg-color);
  color: var(--dropdown-text-color);
}

/* Hover effect for dropdown options */
.langdropdown option:hover {
  background-color: #007bff;
  color: #fff;
}
#table-actions {
  display: flex;
  margin: 12px auto;
}
#scrapeResults {
  margin-top: 20px;
  overflow: auto;
  width: 100%;
  max-height: 300px;
  border-radius: 4px;
  border: 1px solid var(--table-border-color);
  /* display: none; */
}
#scrapeResults.visible {
  display: block;
}
#scrapeResults.visible .tableicon {
  display: none;
}
#scrapeResults .tableicon {
  background-color: var(--bkg-color-1);
  width: 32px;
  height: 32px;
  margin: auto;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid var(--table-border-color);
}
#scrapeResults .tableicon svg {
  fill: var(--primary-color);
  display: block;
}

.about-outter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 1px solid var(--table-border-color);
  background-color: var(--bkg-color-1);
  padding: 40px 40px;
}

body[theme='light'] #about .about-footer {
  color: #fff;
}

body[theme='dark'] #about .about-footer {
  color: #333;
}
